<ion-content scroll="true" ng-controller="salesTaxCtrl" id="sales_taxes_main_content">
    <div class="row">
        <div class="col">Setup &gt; Sales Taxes</div>
    </div>
    
    <div class="card">
        <div class="item item-divider"><button class="button button-small add" ng-click="add_sales_tax_click()">Add Sales Tax</button></div>
    </div>
    
    
    <div class="row row_header">
        <div class="col">Name</div>
        <div class="col">Rate</div>
        <div class="col">&nbsp;</div>
    </div>
    <div class="row row_content" ng-repeat="s in sales_taxes">
        <div class="col">{{s.name}}</div>
        <div class="col">{{s.rate}}%</div>
        <div class="col">
            <button class="button button-small button-clear button-positive" ng-click="edit_sales_tax_click({{s.id}})">Edit</button>
            <button class="button button-small button-clear button-positive" ng-click="delete_sales_tax_click({{s.id}})" ng-hide="{{s.system_generated}} == 1">Delete</button>
        </div>
    </div>
</ion-content>
