<ion-content scroll="true" ng-controller="customerGroupCtrl" id='cgroups_main_content'>
    <div class="row">
        <div class="col">Customers &gt; Customer Groups</div>
    </div>
    
    <div class="card">
        <div class="item item-divider"><button class="button button-small add" ng-click="add_click()">Add Customer Group</button></div>
    </div>
    
    
    
    <div class='row row_content' ng-repeat='group in cgroups'>
        <div class='col'>
            {{group.name}}
        </div>
    </div>
    
</ion-content>
