<ion-content scroll="true" ng-controller="productCtrl" id="product_add_edit">
    <div class="row">
        <div class="col" ng-show="!isDefined(product.id)">
            Products &gt; Add a new product
        </div>
        <div class="col" ng-show="isDefined(product.id)">
            Products &gt; Update a product
        </div>
    </div>
    
    <form ng-submit="product_form_submit_click(product)" name="product_form">
        <input type="hidden" ng-model="product.id"/>
        <div class="card">
            <div class="item item-divider">Details</div>
            <div class="row">
                <div class="col">
                    <label class="item item-input" style="width:100%">
                        <span class="input-label">Product name</span>
                        <input type="text" class="lightgray-outline" placeholder="Enter product name here" ng-model="product.product_name">
                        <sub>&nbsp;</sub>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Product handle</span>
                        <!--div style="width:100%"-->
                            <input type="text" class="lightgray-outline" placeholder="Enter product handle here" ng-model="product.product_handle">
                            <sub style="color:gray;margin-left:1em">A unique identifier for this product</sub>
                        <!--/div-->
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Description</span>
                        <input type="text" class="lightgray-outline" placeholder="Enter description here" ng-model="product.desc">
                        <sub>&nbsp;</sub>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Product tags</span>
                        <select id="product_tag" ng-model="tag_to_be_add" ng-change="product_tag_change(tag_to_be_add)">
                            <option value="">&nbsp;</option>
                            <option ng-repeat="tag in tags" value="{{tag.name}}">{{tag.name}}</option>
                        </select>
                        <sub>&nbsp;</sub>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-offset-30" style="margin-top:auto;margin-bottom:auto">
                    <label class="item item-input">
                        <span class="input-label">&nbsp;</span>
                        <button type="button" class="button button-small" ng-click="add_tag_click(tag_to_be_add)">Add</button>
                        <sub>&nbsp;</sub>
                    </label>
                </div>
            </div>
            <div class="padding" style='float:left;width:90%;border:0px solid red' >
                <button type="button" class="button button-small icon-right ion-close-round" style="margin-right:1em" ng-repeat="tag in product.tags" ng-click="tag_remove_click(tag)"> {{tag}}
                </button>
            </div>
            
            <div class="row" style='border-top:1px dotted gray;'>
            </div>
            
            <div class="row">
                <div class="col">
                    <label class="item item-select">
                        <span class="input-label">Product type</span>
                        <select ng-model="product.product_type_id" ng-change="product_type_change(product.product_type_id)">
                            <option value="0">&nbsp;</option>
                            <option ng-repeat="product_type in product_types" ng-selected="{{product.product_type_id == product_type.id}}" value="{{product_type.id}}">{{product_type.name}}</option>
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-select">
                        <span class="input-label">Product brand</span>
                        <select ng-model="product.brand_id" ng-change="brand_change(product.brand_id)">
                            <option value="0">&nbsp;</option>
                            <option ng-repeat="brand in brands" ng-selected="{{product.brand_id == brand.id}}" value="{{brand.id}}">{{brand.brand_name}}</option>
                        </select>
                    </label>
                </div>
            </div>
            <div>
                <div class="col col-50">
                    <label class="item item-select">
                        <span class="input-label">Supplier</span>
                        <select ng-model="product.supplier_id" ng-change="supplier_change()">
                            <option value="0">&nbsp;</option>
                            <option ng-repeat="supplier in suppliers" value="{{supplier.id}}" ng-selected="{{product.supplier_id == supplier.id}}">{{supplier.name}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider">Pricing</div>
            <div class="item">
                <div class="row">
                    <div class="col">Supply price</div>
                    <div class="col">X Markup (%)</div>
                    <div class="col">= Retail price</div>
                    <div class="col">+ Sales tax</div>
                    <div class="col">= Retail price</div>
                </div>
                <div class="row">
                    <div class="col"><input type="number" min="0" step="0.01" class="lightgray-outline" ng-model="product.supply_price" ng-change="supply_price_change()"></div>
                    <div class="col">
                        <input type="number" min="0" step="0.05" class="lightgray-outline" ng-model="product.markup" ng-change="markup_change()">
                    </div>
                    <div class="col">
                        <input type="number" min="0" step="0.01" class="lightgray-outline" ng-model="product.retail_price_excluding_tax">
                    </div>
                    <div class='col'>test</div>
                    <div class='col'>
                        <input type="number" min="0" step="0.01" class="lightgray-outline" ng-model="product.retail_price_including_tax">
                    </div>
                </div>
                <div class="row">
                    <div class="col gray-color" style='font-size:small'>Excluding tax</div>
                    <div class="col gray-color" style='font-size:small'>&nbsp;</div>
                    <div class="col gray-color" style='font-size:small'>Excluding tax</div>
                    <div class="col gray-color" style='font-size:small'>Currently, No Tax (0%)</div>
                    <div class="col gray-color" style='font-size:small'>Including tax</div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider">Inventory</div>
            <div class="item">
                <div class="row">
                    <div class="col">
                        <label class="item item-input">
                            <span class="input-label">Stock keeping unit</span>
                            <input type="text" class="lightgray-outline width-95" placeholder="Enter stock keeping unit here" ng-model="product.stock_keeping_unit">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label required">Current stock</span>
                            <input type="number" required="true" name="current_stock" class="lightgray-outline" style='width:95%' ng-model="product.current_stock">
                                </label>
                    </div>
                    <div class="col">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Re-order point</span>
                            <input type="number" min="0" name="reorder_point" class="lightgray-outline" style='width:95%' ng-model="product.reorder_point">
                                </label>
                    </div>
                    <div class="col">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Re-order amount</span>
                            <input type="number" min="0" class="lightgray-outline" style='width:95%' ng-model="product.reorder_amount">
                                </label>
                    </div>
                </div>
            </div>
        </div>
        
        <span class="error_alert center" ng-show="product_form.current_stock.$error.required">Current stock is required</span>
        
        <div class="card">
            <div class="item item-divider item-divider-paddingless">
                <div class="row">
                    <div class="col col-25 col-offset-50">
                        <button class="button button-small button-block button-light" ng-click="product_form_cancel_click()">Cancel</button>
                    </div>
                    <div class="col col-25">
                        <button ng-disabled="product_form.$invalid" class="button button-small button-block button-light" type="submit">Save Product</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ion-content>