<ion-content scroll="true" ng-controller="productCtrl">
    <div class="row">
        <div class="col">Products > Add a new product</div>
    </div>
    
    <form ng-submit="product_form_submit_click(product)">
        <input type="hidden" ng-model="product.id"/>
        <div class="card">
            <div class="item item-divider">Details</div>
            <div class="row">
                <div class="col">
                    <label class="item item-input" style="width:100%">
                        <span class="input-label">Product name</span>
                        <input type="text" class="lightgray-outline" placeholder="Enter product name here" ng-model="product.product_name">
                        <sub>&nbsp;</sub>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Product handle</span>
                        <!--div style="width:100%"-->
                            <input type="text" class="lightgray-outline" placeholder="Enter product handle here" ng-model="product.product_handle">
                            <sub style="color:gray;margin-left:1em">A unique identifier for this product</sub>
                        <!--/div-->
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Description</span>
                        <input type="text" class="lightgray-outline" placeholder="Enter description here" ng-model="product.desc">
                        <sub>&nbsp;</sub>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-select">
                        <span class="input-label">Product type</span>
                        <select>
                            <option>type 1</option>
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-select">
                        <span class="input-label">Product brand</span>
                        <select ng-model="product.brand" ng-change="add_new_supplier_choose()" ng-options="brand.brand_name for brand in brands track by brand.id">
                        </select>
                    </label>
                </div>
            </div>
            <div>
                <div class="col col-50">
                    <label class="item item-select">
                        <span class="input-label">Supplier</span>
                        <select ng-model="product.supplier" ng-change="add_new_supplier_choose()" ng-options="supplier.name for supplier in suppliers track by supplier.id">
                        </select>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider">Pricing</div>
            <div class="item">
                <div class="row">
                    <div class="col">Supply price</div>
                    <div class="col">X Markup (%)</div>
                    <div class="col">= Retail price</div>
                </div>
                <div class="row">
                    <div class="col"><input type="number" min="0" step="0.01" class="lightgray-outline" ng-model="product.supply_price" ng-change="supply_price_change()"></div>
                    <div class="col">
                        <input type="number" min="0" step="0.02" class="lightgray-outline" ng-model="product.markup" ng-change="markup_change()">
                    </div>
                    <div class="col">
                        <input type="number" min="0" step="0.01" class="lightgray-outline" ng-model="product.retail_price">
                    </div>
                </div>
                <div class="row">
                    <div class="col gray-color">Excluding tax</div>
                    <div class="col gray-color">&nbsp;</div>
                    <div class="col gray-color">Excluding tax</div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider">Inventory</div>
        </div>
        
        <div class="card">
            <div class="item item-divider item-divider-paddingless">
                <div class="row">
                    <div class="col col-25 col-offset-50">
                        <button class="button button-small button-block button-light" ng-click="product_form_cancel_click()">Cancel</button>
                    </div>
                    <div class="col col-25">
                        <button class="button button-small button-block button-light" type="submit">Save Product</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ion-content>