<ion-content scroll="true" ng-controller="productCtrl" id="products_main_content">
    <div class="row">
        <div class="col">Products &gt; Products</div>
    </div>
    
    <div class="card">
        <div class="item item-divider"><button class="button button-small add" ng-click="add_new_product_click()">Add Product</button></div>
    </div>
    
    <div class="card">
        <div class="item item-paddingless">
            <div class="row" style='padding-left:0;padding-right:0'>
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Tags
                        </div>
                        <select ng-model='filter.tag'>
                            <option value="">&nbsp;</option>
                            <option ng-repeat='tag in tags | filter:{name:"!+"}' value='{{tag.name}}'>{{tag.name}}</option>
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Types
                        </div>
                        <select ng-model='filter.product_type'>
                            <option value="">&nbsp;</option>
                            <option ng-repeat='product_type in product_types | filter:{name:"!+"}' value='{{product_type.name}}'>{{product_type.name}}</option>
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Brand
                        </div>
                        <select ng-model='filter.brand'>
                            <option value="">&nbsp;</option>
                            <option ng-repeat='brand in brands | filter:{brand_name:"!+"}' value='{{brand.brand_name}}'>{{brand.brand_name}}</option>
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-select item-stacked-label">
                        <div class="input-label">
                            Supplier
                        </div>
                        <select ng-model='filter.supplier'>
                            <option value="">&nbsp;</option>
                            <option ng-repeat='supplier in suppliers | filter:{name:"!+"}' value="{{supplier.name}}">{{supplier.name}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row row_header">
        <div class="col">Product</div>
        <div class="col">Created</div>
        <div class="col">Tags</div>
        <div class="col">Type</div>
        <div class="col">Brand</div>
        <div class="col">Supplier</div>
        <div class="col">Price</div>
        <div class="col">Count</div>
        <div class="col">&nbsp;</div>
    </div>
    <div class="row row_content" ng-repeat='product in products | productFilter:{tag:filter.tag,product_type:filter.product_type,brand:filter.brand,supplier:filter.supplier}'>
        <div class="col">{{product.product_name}}&nbsp;</div>
        <div class="col">{{product.creation_date}}</div>
        <div class="col">
            <span style="display:block" ng-repeat="tag in product.tags">
                {{tag}}
            </span>
        </div>
        <div class="col">{{product.product_type}}&nbsp;</div>
        <div class="col">{{product.brand_name}}&nbsp;</div>
        <div class="col">{{product.supplier_name}}&nbsp;</div>
        <div class="col">{{product.retail_price}}&nbsp;</div>
        <div class="col">{{product.current_stock}}&nbsp;</div>
        <div class="col">
            <button class="button button-small button-clear button-positive" ng-click="edit_click({{product.id}})">Edit</button>
            <button class="button button-small button-clear button-positive" ng-click="deactivate_click({{product.id}})" ng-show="product.active == 1">Deactivate</button>
            <button class="button button-small button-clear button-positive" ng-click="activate_click({{product.id}})" ng-show="product.active == 0">Activate</button>
        </div>
    </div>
    
</ion-content>