<style>
.tab_control .selected {
        color:green;border-bottom:2px solid green;
}

.tab_control .tab{
    text-align:center
    cursor: pointer;
    cursor: hand;
    text-align: center;
    cursor: pointer;
}

.sellbtn {
    display:inline-block;
    border-radius:8px!important;
    background-image:linear-gradient(darkgray, gray, darkgray)!important;
    color:white !important;
    padding-top:3px;
    padding-bottom:3px;
}

#pay_button {
    border-radius:8px;
    background-image:linear-gradient(darkgreen, green, darkgreen);
    color:white;
    padding-top:3px;
    padding-bottom:3px;
}

button.qty {
    display:inline-block;
    border:1px solid #9f9f9f !important;
    background-image: -webkit-linear-gradient(top, #e0e0e0, #ffffff, #e0e0e0) !important;
    width:18px;
    height:18px;
    border-radius:50%;
    vertical-align:top;
    color:black !important;
    margin-left:0.5em;
    margin-top:4px;
}

button.unit_price {
    float:right;
    vertical-align:text-top !important;
    border-radius:54% !important;
    border:1px solid #9f9f9f !important;
    background-image: -webkit-linear-gradient(top, #e0e0e0, #ffffff, #e0e0e0) !important;
    color:#333333 !important;
    margin-left:1em;
    margin-top:4px;
    font-size:10px;
    padding-left:6px;
    padding-right:6px;
    padding-top:0px;
    padding-bottom:0px;
    height:32px;
}

#sale_button_bar {
    position:absolute;
    bottom: 0;
    background-color:#f0f0f0;
    padding-left:1px;
    padding-right:1px;
    margin-left:0px;
    margin-right:1px;width:100%;
}
</style>
<ion-content scroll="true" ng-controller="sellCtrl" id="sell_main_content">
<div class='row'>
    <div class='col' style='border-radius:10px;padding:0;margin:0'>
        
        <div class='card' style='padding:0;margin:0;height:465px;position:relative;border-radius:10px;border:1px solid darkgray'>
            
            <!-- tabs -->
            <div class='item item-divider' style='padding:0;margin:0'>
                <div class='row tab_control'>
                    
                    <div class='col tab selected' ng-click="tab_click('current sale')" id='current_sale_tab'>
                        Current Sale
                    </div>
                    
                    <div class='col tab' ng-click="tab_click('retrieve sale')" id='retrieve_sale_tab'>
                        Retrieve Sale
                    </div>
                </div>
            </div>
            
            <!--  current sale: sale items   -->
            <div class='item' ng-show='is_current_sale_tab_shown()' style='height:254px;overflow:scroll;background-color:#ffffff;padding:0;margin:0'>
                <div ng-repeat="sale_item in current_sale.items" style='border-top:0px solid yellow;border-bottom:1px solid #d5d5d5;height:40px;line-height:40px;vertical-align:top;'>
                    <!-- quantity -->
                    <button class='button button-small button-clear qty' ng-click="sale_item_quantity_click($event, {{current_sale.id}}, {{sale_item}})">{{sale_item.quantity}}</button>
                    <!-- item name -->
                    <span style='margin-left:.5em;vertical-align:top'>{{sale_item.name}}</span>
                    

                    <!-- close button -->
                    <i class="icon icon-right ion-close-round" ng-click="sale_item_delete_click({{current_sale.id}}, {{sale_item.id}})" style='float:right;margin-right:1em;cursor: pointer;'></i>
                    <!-- quantity * unit_price -->
                    <span style='margin-left:.5em;margin-right:.5em;float:right;vertical-align:top;width:68px'>{{sale_item.unit_price * sale_item.quantity | currency}}</span>
                    
                    <!-- unit price -->
                    <button class='unit_price'>&#64;&nbsp;{{sale_item.unit_price | currency }}</button>
                </div>
            </div>
            
            <!--  current sale: subtotal, taxes, total   -->
            <div class='item' ng-show='is_current_sale_tab_shown()' style='background-color:#ffffff;padding-top:0;padding-bottom:0;padding-right:0;height:102px;border-top:1px solid #d5d5d5'>
                <div class='row'>
                    <div class='col'>Subtotal</div>
                    <div class='col'>{{current_sale.subtotal | currency}}</div>
                </div>
                <div class='row'>
                    <div class='col'>
                        Tax <span ng-show="isDefined(current_sale.sales_tax_name)">({{current_sale.sales_tax_name}}: {{current_sale.sales_tax_rate}} %)</span>
                    </div>
                    <div class='col'>{{current_sale.total_tax | currency}}</div>
                </div>
                <div class='row'>
                    <div class='col'>Total</div>
                    <div class='col'>{{current_sale.subtotal + current_sale.total_tax | currency}}</div>
                </div>
            </div>
            
            <!-- current sale: bottom buttons -->
            <div id='sale_button_bar' class='item item-divider' ng-show='is_current_sale_tab_shown()'>
                <div class="row">
                    <div class='col'>
                        <button class='button-block button-clear sellbtn' ng-click='void_click(current_sale.id)'>
                            Void
                        </button>
                    </div>
                    <div class='col'>
                        <button class='button-block button-clear sellbtn' ng-click='park_click(current_sale.id)'>
                            Park
                        </button>
                    </div>
                    <div class='col'>
                        <button class='button-block button-clear sellbtn'>Notes</button>
                    </div>
                    <div class='col'>
                        <button class='button-block button-clear sellbtn'>Discount</button>
                    </div>
                    <div class='col'>
                        <button class='button-block button-clear' id='pay_button' ng-click='pay_click(current_sale.id)'>Pay</button>
                    </div>
                </div>
            </div>
            <!-- end of current sale -->
            
            <!-- retrieve sale -->
            <div class='item' ng-show='is_retrieve_sale_tab_shown()'>
                <div class="row row_header" style='border:0px solid blue;padding-bottom:0'>
                    <div class="col">Date/time</div>
                    <div class="col">Status</div>
                    <div class="col">Total</div>
                    <div class="col">Note</div>
                    <div class="col">&nbsp;</div>
                </div>
                
                <ion-scroll zooming="false" direction="y" style="padding-top:0;height:320px;border:0px solid red">
                <div class='row row_content' style='margin-top:0;margin-bottom:0;padding-bottom:0' ng-repeat="parked_sale in parked_sales">
                    <div class='col col-40'>{{parked_sale.creation_date | date: 'yyyy-MM-dd'}}</div>
                    <div class='col col-15'>{{parked_sale.status}}</div>
                    <div class='col col-15'>{{parked_sale.subtotal + parked_sale.total_tax | currency}}</div>
                    <div class='col col-15'>&nbsp;</div>
                    <div class='col col-15'>
                        <button type='button' class='button button-small button-clear button-positive' style='padding:0px' ng-click='open_sale_click({{parked_sale.id}})'>Open</button>
                    </div>
                </div>
                </ion-scroll>
            </div>
            
        </div>

    </div>
    
    <div class='col' ng-show='is_current_sale_tab_shown()'>
        <!-- start of layout -->
        <div id='layout_container' class="card card-paddingless card-marginless layout">
            
            <!-- start of layout groups -->
            <div class="item item-divider item-divider-paddingless">
                <div class="row">
                    <div class="col">
                        <div ng-repeat="group in layout.groups">
                            <div class='group-item' ng-class='{active_group: layout.active_group_id == group.id}'>
                                <div class="text"  ng-style='get_text_style({{layout.groups.length}})' ng-click='group_text_click({{group}})'>{{group.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of layout groups-->
            <!-- start of layout keys -->
            <div class="item" id="layout_keys_container">
                <div style='float:left'>
                    <div ng-repeat="key in layout.active_group.keys" ng-click='key_click({{key}})' class='layout-item' style='background:{{get_display_color(key.color)}}'>
                        {{key.display_name}}
                    </div>
                </div>
            </div>
            <!-- end of layout keys -->
        </div>
        <!--end of layout-->
    </div>
</div>
</ion-content>