<ion-content scroll="true" ng-controller="brandCtrl" id="brands_main_content">
    
    <div class="row">
        <div class="col">Products &gt; Brands</div>
    </div>
    
    <div class="card">
        <div class="item item-divider"><button class="button button-small add" ng-click="add_new_brand_click()">Add Brand Name</button></div>
    </div>
    
    <div class="row row_header">
        <div class="col">Name</div>
        <div class="col">Description</div>
        <div class="col">&nbsp;</div>
    </div>
    
    <div class="row row_content" ng-repeat="brand in brands">
        <div class="col">{{brand.brand_name}}</div>
        <div class="col">{{brand.desc}}</div>
        <div class="col">
            <button class="button button-small button-clear button-positive" ng-click="edit_click({{brand.id}})">Edit</button>
            <button class="button button-small button-clear button-positive" ng-click="delete_click({{brand.id}})">Delete</button>
        </div>
    </div>
    
</ion-content>