<ion-content scroll="true" ng-controller="brandCtrl" id="brands_main_content">
    
    <div class="row">
        <div class="col">Products &gt; Brands</div>
    </div>
    
    <div class="card">
        <div class="item item-divider"><button class="button button-small" ng-click="add_new_brand_click()">Add Brand Name</button></div>
    </div>
    
    <div class="row row_header">
        <div class="col">Name</div>
        <div class="col">Description</div>
        <div class="col">&nbsp;</div>
    </div>
    
    <script id="brands-popup.html" type="text/ng-template" >
        <div class="modal" style="width:60%">
        
            <!-- modal header bar -->
            <ion-header-bar>
            <h1 class="title">Create product brand</h1>
                <button class="button button-clear button-positive" ng-click="brand_popup_cancel_click()">Cancel</button>
            </ion-header-bar>
            
            <!-- modal content area -->
            <ion-content>
                <form name="brand_name_form" ng-submit="brand_name_form_submit_click(brand)">
                    <input type="hidden" ng-model="brand.id"/>
                    <div class="row">
                        <div class="col col-20">Brand name</div>
                        <div class="col col-80">
                            <input type="text" placeholder="Enter brand name here" ng-model="brand.brand_name" style="width:90%;outline-width:1px;outline-color:lightgray;outline-style:solid;padding-left:1em;">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col col-20">Description</div>
                        <div class="col col-80">
                            <textarea rows="4" placeholder="Enter description here" ng-model="brand.desc" style="width:90%;outline-width:1px;outline-color:lightgray;outline-style:solid;padding-left:1em;vertical-align:middle"></textarea>
                        </div>
                    </div>
                    
                    <div class="padding">
                        <button type="submit" class="button button-block button-positive">Save product brand</button>
                    </div>
                </form>
            </ion-content>
            
        </div>
    </script>
    
</ion-content>