<ion-content scroll="true" ng-controller="productTypeCtrl" id="product_types_main_content">
    <div class="row">
        <div class="col">Products &gt; Product types</div>
    </div>
    
    <div class="card">
        <div class="item item-divider"><button class="button button-small" ng-click="add_new_product_type_click()">Add Product Types</button></div>
    </div>
    
    <div class="row row_header">
        <div class="col">Name</div>
        <div class="col">Description</div>
        <div class="col">&nbsp;</div>
    </div>
    
    <div class="row row_content" ng-repeat="product_type in product_types">
        <div class="col">{{product_type.name}}</div>
        <div class="col">{{product_type.desc}}</div>
        <div class="col">
            <button class="button button-small button-clear button-positive" ng-click="edit_click({{product_type.id}})">Edit</button>
            <button class="button button-small button-clear button-positive" ng-click="delete_click({{product_type.id}})">Delete</button>
        </div>
    </div>

</ion-content>