<ion-side-menu-content>
    <ion-header-bar class="bar-dark">
        <button class="button button-icon" ng-click="toggleSideMenu()">
            <i class="icon ion-navicon"></i>
        </button>
        <h1 class="title">Sales Taxes</h1>
        <!-- New task button -->
        <button class="button button-icon" ng-click="add_sales_tax_click()" ng-controller="salesTaxCtrl">
            <i class="icon ion-compose"></i>
        </button>
    </ion-header-bar>
    
    <!--div ng-include="'content.htm'"></div-->
    <ion-content>
        blank.htm
    </ion-content>
    
</ion-side-menu-content>