<ion-content scroll="true" ng-controller="supplierCtrl" id="add_edit_supplier">
    <form ng-submit="supplier_form_submit_click(supplier)">
        <input type='hidden' ng-model="supplier.id"/>
        <div class="row">
            <div class="col">Products > Suppliers</div>
        </div>
        
        <div class="card">
            <div class="item item-divider">Details</div>
            <div class="item">
                <div class="row">
                    <div class="col col-25">
                        <label class="item item-input">
                            <span class="input-label">Supplier name</span>
                        </label>
                    </div>
                    <div class="col col-75">
                        <input type="text" class='lightgray-outline' placeholder="Enter supplier name here" ng-model="supplier.name">&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25">
                        <label class="item item-input">
                            <span class="input-label">Default markup</span>
                        </label>
                    </div>
                    <div class="col col-75">
                        <input type="number" class='lightgray-outline' placeholder="Enter default markup here" ng-model="supplier.default_markup">
                    </div>
                </div>
                <div class="row">
                    <div class='col col-25' style='border:0px solid black'>
                        <label class="item item-input">
                            <span class="input-label">Description</span>
                        </label>
                    </div>
                    <div class='col col-75'>
                        <textarea rows="5" class='lightgray-outline' style='width:100%' ng-model="supplier.desc"></textarea>&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider">Contact Information</div>
            <div class="item item-paddingless">
                <div class="row">
                    <div class="col col-50">
                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span>Company</span>
                                <input type="text" placeholder="Enter company here" ng-model="supplier.company">
                                    </label>
                            <label class="item item-input item-stacked-label">
                                <span>Contact name</span>
                                <input type="text" placeholder="Enter contact name here" ng-model="supplier.contact_name">
                                    </label>
                            <label class="item item-input item-stacked-label">
                                <span>Phone</span>
                                <input type="tel" placeholder="Enter phone here" ng-model="supplier.phone">
                                    </label>
                            <label class="item item-input item-stacked-label">
                                <span>Mobile</span>
                                <input type="tel" placeholder="Enter mobile here" ng-model="supplier.mobile">
                                    </label>
                            <label class="item item-input item-stacked-label">
                                <span>Fax</span>
                                <input type="text" placeholder="Enter fax here" ng-model="supplier.fax">
                                    </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span>Email</span>
                                <input type="email" placeholder="Enter email here" ng-model="supplier.email">
                                    </label>
                            <label class="item item-input item-stacked-label">
                                <span>Website</span>
                                <input type="url" placeholder="Enter website here" ng-model="supplier.website">
                                    </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider">
                Address
            </div>
            <div class="item item-paddingless">
                <div class="row">
                    <div class="col">
                        <div class="card card-marginless">
                            <div class="item item-divider">
                                Physical Address
                            </div>
                            <div class="item">
                                <div class="list">
                                    <label class="item item-input item-stacked-label">
                                        <span>Street</span>
                                        <input type="text" placeholder="Enter street here">
                                    </label>
                                    <label class="item item-input item-stacked-label">
                                        <span>Street</span>
                                        <input type="text" placeholder="Enter street here">
                                    </label>
                                    <label class="item item-input item-stacked-label">
                                        <span>City</span>
                                        <input type="text" placeholder="Enter city here">
                                    </label>
                                    <label class="item item-input item-stacked-label">
                                        <span>Postcode</span>
                                        <input type="text" placeholder="Enter postcode here">
                                    </label>
                                    <label class="item item-input item-stacked-label">
                                        <span>State</span>
                                        <input type="text" placeholder="Enter street here">
                                    </label>
                                    <label class="item item-select item-stacked-label">
                                        <span>Country</span>
                                        <select>
                                            <option>Test</option>
                                            <option>Test2</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style='margin:0'>
                            <div class="item item-divider">
                                Postal Address <a href='#' style='font-size:12px;text-decoration: none;' ng-click="same_as_physical_address_click()">Same as Physical Address</a>
                            </div>
                            <div class="item">
                                <div class="list">
                                    <label class="item item-input item-stacked-label">
                                        <span>Street</span>
                                        <input type="text" placeholder="Enter street here">
                                    </label>
                                    <label class="item item-input item-stacked-label">
                                        <span>Street</span>
                                        <input type="text" placeholder="Enter street here">
                                    </label>
                                    <label class="item item-input item-stacked-label">
                                        <span>City</span>
                                        <input type="text" placeholder="Enter city here">
                                            </label>
                                    <label class="item item-input item-stacked-label">
                                        <span>Postcode</span>
                                        <input type="text" placeholder="Enter postcode here">
                                            </label>
                                    <label class="item item-input item-stacked-label">
                                        <span>State</span>
                                        <input type="text" placeholder="Enter street here">
                                            </label>
                                    <label class="item item-select item-stacked-label">
                                        <span>Country</span>
                                        <select>
                                            <option>Test</option>
                                            <option>Test2</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider item-divider-paddingless">
                <div class="row">
                    <div class="col col-25 col-offset-50">
                        <button class="button button-small button-block button-light" ng-click="supplier_form_cancel_click()">Cancel</button>
                    </div>
                    <div class="col col-25">
                        <button class="button button-small button-block button-light" type="submit">Save Supplier</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ion-content>