<ion-content scroll="true" ng-controller="layoutCtrl" id="add_edit_layout">
    <div class="row">
        <div class="col">Setup &gt; Quick Keys > New Quick Key Layout</div>
    </div>
    <form ng-submit="layout_form_submit_click(layout)">
    <div class="row">
        <div class="col">
            <input type="text" placeholder="Search Products" class="lightgray-outline" list="productList">
            <datalist id="productlist">
                <option value="Black" />
                <option value="Blue" />
                <option value="Dark Green" />
                <option value="Grey" />
                <option value="Green" />
                <option value="Red" />
                <option value="White" />
                <option value="Yellow" />
            </datalist>
        </div>
        <div class="col"><button type="button" ng-click="add_product_click()">Add Product</button></div>
        <div class="col">
            <input type="text" placeholder="New Quick Key Layout" class="lightgray-outline" ng-model="layout.name">
        </div>
    </div>

    <div class="row">
        <div class="col col-80 col-offset-10" style='border:1px solid black;background-color:yellow;padding:0'>
            <div class="card card-paddingless card-marginless" style='background-color:blue;'>
                <div class="item item-divider">
                    <div class="row">
                        <div class="col" ng-repeat="group in layout.groups">
                            <label class="item item-radio">
                                <input type="radio" name="group_radio">
                                    <div class="item-content center" style="">
                                        {{group.name}}
                                    </div>
                                    <i class="radio-icon ion-checkmark"></i>
                            </label>
                        </div>
                        <div class="col col-10">&nbsp;
                            <button class="button button-icon" ng-click="newTask()">
                                <i class="icon ion-gear-b"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item" style='height:200px;background-color:red;margin:0'>
                    <div class="row">
                        <div class="col">item 1</div>
                        <div class="col">item 2</div>
                        <div class="col" ng-repeat="key in layout.groups[0].keys">
                            {{key.display_name}}
                        </div>
                    </div>
                </div>
                <div class="item item-divider">
                    &lt; &gt;
                </div>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="item item-divider item-divider-paddingless">
            <div class="row">
                <div class="col col-25 col-offset-50">
                    <button type="button" class="button button-small button-block button-light" ng-click="layout_form_cancel_click()">Cancel</button>
                </div>
                <div class="col col-25">
                    <button class="button button-small button-block button-light" type="submit">Save Layout</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</ion-content>