<style>.popover { height:130px; width: 260px; }</style>
<ion-popover-view>
    <!--ion-header-bar>
        <h1 class="title">My Popover Title</h1>
    </ion-header-bar-->
    <ion-content>
        <div class='row'>
            <div class='col'>
                <input type="text" class="lightgray-outline" placeholder="group name" ng-model={{selected_group.name}}>
            </div>
        </div>
        <div class='row'>
            <div class='col col-33'>
                <button class="button button-small button-block" ng-click='delete_group_click()'>Delete {{popover.scope.$parent.selected_group.name}}</button>
            </div>
            <div class='col col-33 col-offset-33'>
                <button class="button button-small button-block">Done</button>
            </div>
        </div>
    </ion-content>
</ion-popover-view>