<style>.popover { height:160px; width: 260px; }</style>
<ion-popover-view ng-controller="editKeyCtrl">
    <!--ion-header-bar>
     <h1 class="title">My Popover Title</h1>
     </ion-header-bar-->
    <ion-content style='background-color:black'>
        <div class='row'>
            <div class='col'>
                <input type="text" class="lightgray-outline" ng-model="key.display_name">
            </div>
        </div>
        <div class='row'>
            <div class='col' ng-repeat="color in colors">
                <svg width="30" height="30">
                    <rect ng-show="color.selected == true" width="30" height="30" style="stroke-width:2;stroke:rgb(255,255,255)" fill-opacity="0" stroke-dasharray="5,3"/>
                    <circle style='cursor:pointer;cursor:hand;' ng-click='color_click(color)' cx="15" cy="15" r="10" stroke="{{color.color}}" stroke-width="1" fill="{{color.color}}" />
            </div>
        </div>
        <div class='row'>
            <div class='col col-33'>
                <button class="button button-small button-block" ng-click='delete_click(key)'>
                    Delete
                </button>
            </div>
            <div class='col col-33 col-offset-33'>
                <button class="button button-small button-block" ng-click='done_click(key)'>Done</button>
            </div>
        </div>
    </ion-content>
</ion-popover-view>

<script>
</script>