<style>.popover { height:130px; width: 260px; }</style>
<ion-popover-view ng-controller="editKeyCtrl">
    <!--ion-header-bar>
     <h1 class="title">My Popover Title</h1>
     </ion-header-bar-->
    <ion-content>
        <div class='row'>
            <div class='col'>
                <input type="text" class="lightgray-outline" ng-model="key.display_name">
            </div>
        </div>
        <div class='row'>
            <div class='col col-33'>
                <button class="button button-small button-block" ng-click='delete_click(key)'>
                    Delete
                </button>
            </div>
            <div class='col col-33 col-offset-33'>
                <button class="button button-small button-block" ng-click='done_click(key)'>Done</button>
            </div>
        </div>
    </ion-content>
</ion-popover-view>