<ion-content scroll="true" ng-controller="layoutCtrl" id="layouts_main_content">
    <div class="row">
        <div class="col">Products &gt; Quick Keys</div>
    </div>
    
    <div class="card">
        <div class="item item-divider"><button class="button button-small add" ng-click="add_new_layout_click()">Add Layout</button></div>
    </div>
    
    <div class="row row_header">
        <div class="col">Name</div>
        <div class="col">Date Created</div>
        <div class="col">&nbsp;</div>
    </div>
    
    <div class="row row_content" ng-repeat="layout in layouts">
        <div class="col">{{layout.name}}</div>
        <div class="col">{{layout.creation_date}}&nbsp;</div>
        <div class="col">
            <button class="button button-small button-clear button-positive" ng-click="edit_click({{layout.id}})">
                Edit
            </button>
            <button class="button button-small button-clear button-positive" ng-click="delete_click({{layout.id}})">Delete</button>
        </div>
    </div>
</ion-content>