<style>.popover { height:160px; width: 260px; }</style>
<ion-popover-view>
    <ion-header-bar>
     <h1 class="title">Add a group</h1>
     </ion-header-bar>
    <ion-content>
        <div class='row'>
            <div class='col'>
                <input type="text" class="lightgray-outline" placeholder="Group name">
            </div>
        </div>
        <div class='row'>
            <div class='col col-33'>
                <button class="button button-block button-small">Cancel</button>
            </div>
            <div class='col col-33 col-offset-33'>
                <button class="button button-block button-small">Add</button>
            </div>
        </div>
    </ion-content>
</ion-popover-view>