<ion-content scroll="true" ng-controller="tagCtrl" id="tags_main_content">
    
    <div class="row">
        <div class="col">Products &gt; Tags</div>
    </div>
    
    <div class="card">
        <div class="item item-divider"><button class="button button-small add" ng-click="add_new_tag_click()">New Tag</button></div>
    </div>
    
    <div class="row row_header">
        <div class="col">Name</div>
        <div class="col">Number of Products</div>
        <div class="col">&nbsp;</div>
    </div>
    
    <div class="row row_content" ng-repeat="tag in tags">
        <div class="col">{{tag.name}}&nbsp;</div>
        <div class="col">&nbsp;</div>
        <div class="col">
            <button class="button button-small button-clear button-positive" ng-click="edit_click({{tag.id}})">View Products</button>
            <button class="button button-small button-clear button-positive" ng-click="edit_click({{tag.id}})">Edit</button>
            <button class="button button-small button-clear button-positive" ng-click="delete_click({{tag.id}})">Delete</button>
        </div>
    </div>
    
</ion-content>