/* Layouts */
#layout_container {
    width:501px;
    height:248px;
}

.layout {
    border:1px solid gray;
    border-radius: 10px;
}

.layout-item {
    display: inline-block;
    vertical-align:middle;
    text-align:center;
    float:left;
    width:100px;
    height:50px;
    line-height: 45px;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:auto;
    border-bottom:1px solid #121212;
    border-right:1px solid #121212;
    cursor: pointer;
    border-radius:0px;
}

.layout-item-first-row {
    display: inline-block;
    vertical-align:middle;
    text-align:center;
    float:left;
    width:100px;
    height:50px;
    line-height: 45px;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:auto;
    border-top:1px solid #121212;
    cursor: pointer;
    border-radius:0px;
}

#groups_container {
    float:left;
    width:458px;
    border:0px solid blue;
}

div.group-item {
    float:left;
    display: inline-block;
    
    height:35px;
    line-height: 35px;
    border-left:0px solid darkgray;
    border-right:1px solid darkgray;
    border-top:0px solid darkgray;
    border-bottom:0px solid darkgray;
    padding:0;
    vertical-align:top;
    margin-right:0px;
    margin-top:0;
    margin-bottom:0;
    color:black;
}

.group-item .text {
    display: inline-block;
    vertical-align:middle;
    height:100%;
    line-height: 35px;
    padding-left:4px;
    padding-top:0;
    padding-bottom:0;
    overflow:hidden;
    margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:0px;
    padding-top:0;
    font-size:small;
    vertical-align:top;
    cursor: pointer;
    cursor: hand;
    border:0px solid cyan;
    text-align:center;
}

.group-item .icon-button {
    display: inline-block;
    background-color:darkblue;
    vertical-align:middle;
    height:100%;
    line-height: 35px;
    float:right;
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
}

.active_group {
    background-color:#BBBBBB;
    border-left:0px solid #333333;
    border-right:1px solid #333333;
    padding-left:0;
    margin-left:0;
}

#layout_keys_container {
    height:200px;
    background-color:#fefefe;
    margin:0;
    width:501px;
    padding-top:0px;
    padding-left:0px;
    margin-left:0;
}
