/*
 item-divider-button-bar 
 */
.item-divider-button-bar {
    padding:0;
}

.item-divider-button-bar .row {
    padding:0 1px 0 1px;
}

.item-divider-button-bar .col {
    padding:0 1px 0 1px;
}

.item-divider-button-bar .button {
    margin-top:2px;
    margin-bottom:2px;
}

/* table */
.row_header .col{
    color:black;
    border-top-width:1px;
    border-left-width:1px;
    border-bottom-width:1px;
    border-style: solid;
    border-color: gray;
}

.row_header .col:last-child{
    border-right-width:1px;
}

.row_content .col {
    border-left-width:1px;
    border-bottom-width:1px;
    border-color:gray;
    border-style:solid;
}

.row_content .col:last-child {
    border-right-width:1px;
}

