/*
 card-paddingless
 */
.card-marginless {
    margin:0;
}
.card-paddingless .item{
    padding:0 1px 0 1px;
}

.card-paddingless .row{
    padding:0 1px 0 1px;
}
.card-divider-paddingless .col {
    padding:0 1px 0 1px;
}

/*
 item-divider-paddingless
 */
.item-divider-paddingless {
    padding:0;
}

.item-divider-paddingless .row {
    padding:0 1px 0 1px;
}

.item-divider-paddingless .col {
    padding:0 1px 0 1px;
}

.item-divider-paddingless .button {
    margin-top:2px;
    margin-bottom:2px;
}

/*
 item-paddingless
 */
.item-paddingless {
    padding:0;
}

/* table */
.row_header .col{
    color:black;
    background-color:#e8e8e8;
    border-top-width:1px;
    border-left-width:1px;
    border-bottom-width:1px;
    border-style: solid;
    border-color: lightgray;
    /*border-color:#d3d3d3;*/
}

.row_header .col:last-child{
    border-right-width:1px;
}

.row_content .col {
    color:black;
    border-left-width:1px;
    border-bottom-width:1px;
    border-color:lightgray;
    border-style:solid;
}

.row_content .col:last-child {
    border-right-width:1px;
}

/* input outline*/
input.lightgray-outline{
    outline-color: lightgray;
    padding-left:.5em;
    outline-width: 1px;
    outline-style: solid;
    width:100%;
}

/* misc */
.gray-color {
    color:gray;
}

span.center {
    text-align:center;
    display:block;
    color:darkgray;
}

.float-right {
    float:right;
}

.center {
    text-align:center;
}

/* Layouts */
.layout {
    border:1px solid gray;
    border-radius: 10px;
}

.layout-item {
    display: inline-block;
    vertical-align:middle;
    text-align:center;
    float:left;
    width:100px;
    height:50px;
    line-height: 45px;
    margin-left:2px;
    margin-top:2px;
    margin-bottom:auto;
    border:1px solid black;
    cursor: pointer;
    cursor: hand;
}
.group-item {
    float:left;
    display: inline-block;
    width:90px;
    height:35px;
    line-height: 35px;
    border:1px solid darkgray;
    padding:0;
    vertical-align:top;
    margin-right:2px;
    
}

.group-item .text {
    display: inline-block;
    vertical-align:middle;
    height:100%;
    line-height: 35px;
    margin:0;
    padding-left:4px;
    padding-top:0;
    padding-bottom:0;
    overflow:hidden;
    margin-top:0;
    margin-right:0;
    padding-top:0;
    font-size:small;
    vertical-align:top;
    cursor: pointer;
    cursor: hand;
}

.group-item .icon-button {
    background-color:darkblue;
    vertical-align:middle;
    height:100%;
    line-height: 35px;
    float:right;
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
}

.active_group {
    background-color:#BBBBBB;
    border:1px solid #333333;
}

#layout_keys_container {
    height:200px;
    background-color:#eeeeee;
    margin:0;
    padding-top:4px;
}
